<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
 <head>
        <title>Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
    </head>

    <body>
        <style>
            body {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            background-color: #fdfdfd;
        }
        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        }
        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }
        .masthead {
            background: #3398E1;
            height: auto;
            padding-bottom: 15px;
            box-shadow: 0 16px 48px #E3E7EB;
            padding-top: 10px;
        }
    </style>

        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
            <div class="container-fluid navbar-nav ml-auto">
                <div class="nav-link text-black font-weight-bold">Kontakt</div>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Wyloguj się</a>
                        </li>

                         <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'about' %}">O nas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1 style="font-size: 18px">Rafał</h1>
          <p style="font-size: 15px">email: osa535@wp.pl</p>
          <p>tel:</p>
        <h1 style="font-size: 18px">Mateusz</h1>
          <p style="font-size: 15px">email: mateusz.czerniawski@gmail.com</p>
          <p>tel:</p>
        <a href="{% url 'home'%}" class="btn btn-primary btn-sm">Wróć&rarr;</a>
    </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>