{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
        <a href="{% url 'home' %}" class="btn btn-primary btn-sm" style="float: right">Wróć&rarr;</a>
          <a href="{% url 'post_edit' post.slug %}" class="btn btn-primary btn-sm">Edytuj</a>
          <a href="{% url 'post_delete' post.slug %}" class="btn btn-primary btn-sm">Usuń</a>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}

    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h2>Komentarze: {{ comments.count }} </h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.author }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.content | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Twój komentarz oczekuje moderacji
        </div>
        {% else %}
        <h3>Dodaj komentarz</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-sm">Dodaj</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}