{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">tu bedzie wyszukiwarka</h5>
    <div class="card-body">
        <p class="card-text">teeeest</p>
    </div>
</div>
</div>

{% endblock sidebar %}