<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <style>
            background-color: black;
    </style>
</head>
<body style="text-align: center">
    <h1>Witaj na blogu Mateusza i Rafała</h1>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <p>
    <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-primary btn-lg">Zaloguj się</button></a>
    <a href="{% url 'signup' %}"><button type="button" class="btn btn-outline-secondary btn-lg">Zarejestruj się</button></a>
        </p>
 <p>
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/dc/View_park.jpg/1200px-View_park.jpg" width="50%">
 </p>
</body></html>