<!DOCTYPE html>
<html>

    <head>
        <title>Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
    </head>

    <body>
        <style>
            body {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            background-color: #fdfdfd;
        }
        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        }
        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }

    </style>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
            <div class="container-fluid navbar-nav ml-auto">
                <a class="nav-link text-black font-weight-bold">Ekran logowania</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">O nas</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="#">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="content-container" class="container p-none">
            <div class="lgn-container col-lg-8">
                <form id="login-form" method="post"
                      action="{% url 'login' %}">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <td><label for="id_username">User name</label></td>
                            <td><input id="id_username" name="username"
                                       type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label for="id_password">Password</label></td>
                            <td><input id="id_password" name="password"
                                       type="password" class="form-control"></td>
                        </tr>
                    </table>
                    {% if form.errors %}
                        <p class=" label label-danger">
                            Podana nazwa użytkownika lub hasło nie są poprawne.
                            Proszę spróbować ponownie.
                        </p>
                    {% endif %}

                    <input type="submit" value="Zaloguj się"
                           class="btn btn-outline-primary btn-lg pull-right" />
                    <input type="hidden" name="next" value="{{ next }}" />
                    <a href="{% url 'start' %}" class="btn btn-outline-primary btn-lg">Wróć &rarr;</a>
                </form>
            </div>
        </div>
    </body>